BOT_TOKEN=123456

# Format: telegram_id:display_name,telegram_id:display_name
MASTER_IDS=111111111:Анна,222222222:Мария,333333333:Егор


# Format: telegram_id,telegram_id
ADMIN_IDS=111111111

ADMIN_CONTACT_URL=https://t.me/username or ADMIN_USERNAME=username.
ADMIN_CONTACT_URL=
ADMIN_USERNAME=

DB_PATH=salon.sqlite3
